<!-- Editable table -->
<div class="card">
    <h3 class="card-header text-center font-weight-bold text-uppercase py-4">Properties</h3>
    <div class="card-body">
      <div id="table" class="table-editable">
        <span class="table-add float-right mb-3 mr-2">
          <a class="text-success" (click)="add()">
            <!-- <mdb-icon fas icon="plus" size="2x"></mdb-icon> -->
          </a>
        </span>
        <table class="table table-bordered table-responsive-md table-striped text-center">
          <tr>
            <th class="text-center">Address</th>
            <th class="text-center">Year Built</th>
            <th class="text-center">List Price</th>
            <th class="text-center">Monthly Rent</th>
            <th class="text-center">GrossYield</th> 
          </tr>
          <tr *ngFor="let property of propertiesList; let id = index">
            <td>
              <span (keyup)="changeValue(id, 'address', $event)" (blur)="updateList(id, 'address', $event)" contenteditable="true">{{property.address}}</span>
            </td>
            <td>
              <span contenteditable="true" (keyup)="changeValue(id, 'yearBuilt', $event)" (blur)="updateList(id, 'yearBuilt', $event)">{{property.yearBuilt}}</span>
            </td>
            <td>
              <span contenteditable="true" (keyup)="changeValue(id, 'listPrice', $event)" (blur)="updateList(id, 'listPrice', $event)">{{property.listPrice}}</span>
            </td>
            <td>
              <span contenteditable="true" (keyup)="changeValue(id, 'monthlyRent', $event)" (blur)="updateList(id, 'monthlyRent', $event)">{{property.monthlyRent}}</span>
            </td>
            <td>
              <span contenteditable="true" (keyup)="changeValue(id, 'grossYield', $event)" (blur)="updateList(id, 'grossYield', $event)">{{property.grossYield}}</span>
            </td>

            <!-- <td>
    <span class="table-up">
      <a class="indigo-text">
        <mdb-icon fas icon="long-arrow-alt-up"></mdb-icon>
      </a>
    </span>
    <span class="table-down">
      <a class="indigo-text">
        <mdb-icon fas icon="long-arrow-alt-down"></mdb-icon>
      </a>
    </span>
  </td>
  <td>
    <span class="table-remove">
      <button type="button" mdbBtn color="danger" rounded="true" size="sm" class="my-0" (click)="remove(id)">Remove</button>
    </span>
  </td> -->
          </tr> 
        </table>
      </div>
    </div>
  </div>
  <!-- Editable table -->
